li{
    width: 100%;
    height: 60px;
    background-color: #505E8D;
    display: grid;
    grid-template-columns: 30px auto 30px;
    place-items: center;
    margin-bottom: 20px;
    gap: 8px;
    border-radius: 20px;
    padding: 8px;
    transition: 0.4s;
}

li:hover{

    scale: 1.1;
}

.icon{

    color: white;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: 0.3s;
}

.close:hover{

    color: red;
}

.Tocheck:hover{

    color: greenyellow;
    scale: 1.1;
}

li p{

    color: white;
    font-size: 14px;
    margin: 0;
}

.TodoItem-p--completed{

    text-decoration: line-through;
}