*{

  font-family: 'Poppins', sans-serif;

}
body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root{

  display: grid;
  place-items: center;
}

#modal{

  display: grid;
  place-items: center;
  
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 10,
}



