button{

    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #505E8D;
    color: white;
    transform: rotate();
    transition: 0.4s ease;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: calc(100vh - 80px);
    
}

button:hover{

    background-color: rgba(45, 61, 113, 0.6);
    scale: 1.2;
    transform: rotate(224deg);
}

@media (min-width: 600px) {

    button{

       position: unset;
       place-self: center;
    }
    
}